@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply mx-auto;
}

.padding-x {
  @apply sm:px-12 px-4;
}

.padding-y {
  @apply py-3;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__recipe-wrapper {
  @apply flex justify-center flex-wrap w-full gap-4 pt-5 md:justify-start md:items-start;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center md:justify-start md:items-start flex-col gap-2 mb-16;
}
/* END: Home styles */

/* START: Recipe Card styles */
.recipe-card {
  @apply mb-4 duration-slow flex flex-col p-3 items-start bg-gray-200 hover:scale-105 hover:shadow-xl rounded-3xl;
}

.recipe-card__content {
  @apply w-full flex justify-between items-start gap-1;
}

.recipe-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}
/* END: Recipe Card styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-200;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-200 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  @apply flex items-start justify-start max-sm:flex-col w-full max-sm:gap-4 max-sm:items-center;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-center items-center relative mx-2;
}

.searchbar__input {
  @apply h-[24px] outline-none cursor-pointer border-b border-gray-400 hover:border-black hover:border-b-2 transition-all duration-100 focus:border-blue-600 focus:border-b-2;
}
/* END: searchbar styles */

.logo_text {
  @apply max-sm:hidden font-semibold text-lg text-black tracking-wide;
}
.blue_btn {
  @apply rounded-full border border-gray-100 bg-primary-blue py-1.5 px-5 text-white transition-all text-center text-sm font-inter flex items-center justify-center hover:scale-105;
}
.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}
.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-bold;
}
.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}
.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}
.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}
.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}
.form_nametextarea {
  @apply flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0 w-full;
}
.flex-end {
  @apply flex justify-end items-center;
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}
.orange_button {
  @apply rounded-full border bg-orange-500 py-1.5 px-5 transition-all text-center text-sm font-inter flex items-center justify-center hover:scale-105;
}
.green_button {
  @apply rounded-full border bg-green-500 py-1.5 px-5 transition-all text-center text-sm font-inter flex items-center justify-center hover:scale-105;
}
.time_Text {
  @apply text-lg font-semibold;
}
